# --------------------------
# Node.js
# --------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Environnement local
.env
.env.local
.env.*.local

# --------------------------
# OS / éditeurs
# --------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# --------------------------
# Docker
# --------------------------
docker-compose.override.yml
*.pid
*.sock

# --------------------------
# Ansible
# --------------------------
*.retry

# --------------------------
# Terraform / OpenTofu
# --------------------------
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# --------------------------
# Tests / Coverage
# --------------------------
coverage/
*.lcov

# --------------------------
# Autres fichiers temporaires
# --------------------------
*.bak
*.tmp
*.swp
