name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: ./TP-infra-as-code/app

      - name: Run tests
        run: npm test
        working-directory: ./TP-infra-as-code/app

      - name: Health check server 1
        run: |
          node ./TP-infra-as-code/app/index.js &
          sleep 5
          curl http://localhost:3000/health

      - name: Health check server 2
        run: |
          node ./TP-infra-as-code/app/index.js &
          sleep 5
          curl http://localhost:3001/health
